.App {
  text-align: center;
}
p {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 360px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.25rem;
}

.voting-text{
  margin: 20px auto;
  text-align: left;
}

.audio-player{
  max-width: 550px;
  width: 100%;
}
